.gallery__like-btn {
  cursor: pointer;
  padding: 0;
  padding-left: 22px;
  width: 22px;
  height: 19px;
  border: none;
  background: url(../../../images/like_icon.svg) no-repeat center center;
  background-size: contain;
  transition: opacity .2s ease-in-out;
}

.gallery__like-btn:active {
  background: url(../../../images/active-like-icon.svg);
}

@media (min-width: 1100px) {
  .gallery__like-btn:hover {
    opacity: .5;
  }
}