.profile__edit-btn {
  /* position: absolute;
  top: 14px;
  right: -44px; */
  padding: 0;
  height: 24px;
  width: 24px;
  background: url(../../../images/Edit_icon.svg) no-repeat center center;
  background-size: cover;
  border: none;
}